.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(148, 148, 148);
  padding: 2em;
  font-size: 20px;
}

.App-header {
  font-size: 2em;
  margin-bottom: 2em;
}

input {
  padding: 1em;
  width: 500px;
}
